<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-O2DdasdTggUpHxx8bJOFxkje4MN1h1k</string>
	<key>GCM_SENDER_ID</key>
	<string>1028654971530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aldiyar.dev.UserDefaultsShowCase</string>
	<key>PROJECT_ID</key>
	<string>testapp-bbf64</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-bbf64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028654971530:ios:864038c5980a7021808b73</string>
</dict>
</plist>